
<body>
  <h1>Here is a list of all available courses</h1>
  <% @courses.all.each do |course| %>
  <ul>
  <a href="courses/<%=course.id %>"><li><%= course.name %></li></a>
  </ul>

  <% end %>

</body>
