<body>

<h1>Here's some info about this course:</h1>
<p>Course Name: <%= @course.name %></p>
<p>Professor: <%= @course.professor %></p>
<p>Credits: <%= @course.credits %></p>

<a href="/courses/<%=@course.id%>/edit">Click here to edit information about this course</a>



</body>
